:root {
    --accent: #FF4C4C;
    --text-light: #E0E0E0;
    --soft-outline:#ffffff; 
}
/* ===============================
	General Styles for All 
   ===============================
*/
html{
    background-color: #000000;
    color:#ffffff; 
    scroll-behavior: smooth;
    line-height: 1.4em;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.07em;
    line-height: 1.55em;

    margin: 0px auto;
    outline: 1px #ffffff solid;

}




/* ===============================
	Header Style
   ===============================
*/
.site-header{
    
    padding: 20px 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #000000;
    z-index: 1200;
    border-bottom: 1px solid var(--soft-outline);
}

.site-header h1{
    font-size: 1.65em;
}

.site-header h1 a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.site-header h1 a:hover{
    color: var(--text-light);
}

.site-header h1 a:active{
    color: var(--accent);
}

.site-header h1 a:hover{
    color:  var(--text-light);
}

/* ===============================
	Nav Style
   ===============================
*/
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.hamburger{
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}


nav ul li a{
    padding: 8px 12px;
    transition: 0.3s;
    color:#ffffff; 
    font-size: 1.15em;
    font-weight: bold;
}

nav ul li a:hover{
    color: #C9C8BF;
}

nav ul li a:active{
    color: var(--accent);
}



/* ===============================
	Main Style
   ===============================
*/


/* ===============================
	 Hero Section 
   ===============================
*/

.hero{
    height: 855px;
    background-image: url("../images/hero_9.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1;
}




#hero-container{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 15px;
    height: max-content;
    padding-top: 40px;

}

.left-column {
    display: flex;
    height: 700px;
    flex-direction: column;
    gap: 5px;
    padding: 25px 0;
    font-size: 1.5em;
    max-width: 500px;
    text-align: left;
    
}

#intro-text{
    font-size: 2.2em;
    padding: 30px 0;
    
}

#role-text{
    text-align: center;
    line-height: 1.3em;
    padding-top: 10px;
}

.right-column {
    display: flex;
    justify-content: center;
}




#role-text span{
    color: var(--accent);
    font-weight: bold;
}

#role-text span:hover{
    cursor: pointer;
}
/* Skills & Certs */
.skills{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 60px;
    width: 100%;
}

.skills-box{
    width: 350px;
    padding-left: 25px;
}

.skills-box h3{
    font-size: 1em;
    margin-bottom: 6px;
    border-left: 3px solid var(--accent);
    padding-left: 6px;
}

.skills-box ul {
    list-style: none;
    padding-left: 0;
    padding-left: 15px;
}

.skills-box li {
    font-size: 0.67em;
    line-height: 1.4em;
    opacity: 0.9;
    margin-left: 10px;
}


/* TypeWriter */
.typewriter {
    overflow: hidden;
    border-right: 2px solid #ffffff; 
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2.5s steps(12, end) forwards,
        blinker 0.7s step-end infinite;
}



@keyframes typing {
    from {width: 0;}
    to {width: 60%;}
}

@keyframes blinker {
    from, to { border-color: transparent;}
    50% {border-color: #f2f2f2;}
    
}



/* Links & Button Container */
.media_container{

    display: flex;
    height: 575px;
    flex-direction: column;
   
    margin: auto 0;
}


/* Download Button */
.btn_container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 20px 0;
    margin-top: 15px;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    border-radius: 50px;
    color: #f2f2f2;
    background-color: transparent;
    outline: 2px solid #f2f2f2;
    font-size: 0.8em;
    transition: 0.3s ease;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bolder;
}

.btn img{
    filter: invert(1);
    width: 30px;
    height: 30px;
}
.btn:hover{
    background-color: #2B2B2B;
    outline-color: #fff;
    color: #f2f2f2;
    transform: translateY(-3px);
    filter: invert(1);
}

/* ===============================
	Flip Card Style 
   ===============================
*/
.card{
    width: 450px;
    height: 700px;
    max-width: 90vw;
    cursor: pointer;
    perspective: 1000px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.card.flipped .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(0deg);
}


.card-front{
    transform: rotateY(180deg);
}

.card-front img, .card-back img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}




/* ===============================
	Social Media Links
   ===============================
*/

.links_container{
    display: flex;
    justify-content: center;
    gap: 15px;

}

.links_container a{
    text-decoration: none;
    color:#f2f2f2;
}

.links_container img{
    height: 45px;
    width: auto;
    transition: 0.2s ease;
}

.links_container img:hover{
    transform: translateY(-3px);
    filter: brightness(1.5);
}


/* ===============================
	Experience Style
   ===============================
*/
.experience{
    padding: 60px 40px;
    text-align: center;
    margin:  0 auto;
    max-width: 1200px;

}

.experience h2{
    margin-bottom: 30px;
    font-size: 2em;
    letter-spacing: 1px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #f2f2f2;
}

.exp-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap:25px;
    padding: 0 100px;
}

.exp-box{
    border: 2px solid #e6e6e6;
    background-color: #181818;
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    width: 100%;
    transition: 0.3s ease;
    line-height: 1.4;
    cursor: pointer;
}

.exp-box:hover{
    transform: translateY(-5px);
    background-color: #212121;
}

.exp-box h3{
    margin-bottom: 5px;
    font-size: 1.2em;
}

.exp-date{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.exp-box ul{
    padding-left: 20px;
}

.exp-box li{
    margin-bottom: 8px;
    font-size: 1em;
    
}


/* ===============================
	Education Style
   ===============================
*/
.education{
    padding: 60px 40px;
    text-align: center;
    margin:  0 auto;
    max-width: 1200px;
    
}

.section-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.section-title img{
    width: 60px;
    height: auto;
    filter: invert(1);

}


.education h2{
    font-size: 2em;
    margin-bottom: 40px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #f2f2f2;
}

#edu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    padding: 0 20px;
}

.edu-box{
    outline: 2px solid #f2f2f2;
    border-radius: 10px;
    flex: 1 1 300px;
    cursor: pointer;
    background-color: #181818;
    padding: 20px;
    max-width: 450px;
    width: 100%;
}

.edu-box:hover{
    transform: translateY(-3px);
    background-color: #212121;
    transition: 0.3s ease;
}

.edu-box h3{
    font-size: 1.2em;
}

.edu-date{
    color: #aaa;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.edu-box p{
    margin-bottom: 5px;
    color: #ddd;
}




/* ===============================
	Footer Style
   ===============================
*/
footer{
    text-align: center;
}


/* ========================
   Tablet / Small Laptop
   ======================== */
@media only screen and (max-width: 1024px) {

    /* shrink wrapper padding only */
    .site-header .wrapper {
        padding: 0 20px;
    }



}

/* ========================
   Mobile + Hamburger
   ======================== */
@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #111;
        padding: 20px;
        border-radius: 10px;
        gap: 15px;
        z-index: 999;
    }

    
}


/* ===============================
    Mobile Styles up to 480 pixels
   =============================== */
@media only screen and (max-width: 480px) {



    header h1 a {
        text-align: center;
    }

    /* Hamburger */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        transition: 0.3s;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Nav Menu */
    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #1e1e2f;
        padding: 20px;
        border-radius: 8px;
        gap: 10px;
    }

    .nav-menu.active a {
        text-align: center;
        margin: 8px 0;
    }

/* ============================================
    Hero Section
============================================ */


#hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    
/* Reorder the main columns */
.left-column { order: 1; }
.right-column { order: 2; }
    

.left-column {
    display: contents;
}
    
/* Now you can order the individual items */
#intro-text { 
    order: 1; 
}

#role-text { order: 3; }

#media { 
    order: 5;
    height: fit-content; 
}
    
/* The card from right-column */
.right-column {
    display: contents;
}
.skills{
    order: 4;
}
    
#yugiohCard { 
    order: 2; 
    width: 260px;
    height: 350px;
}


@keyframes typing {
    from {width: 0;}
    to {width: 65%;}
}




/* Experience */
.experience{
    padding-top: 400px;
    
}


.exp-container{
    grid-template-columns: 1fr;
    padding: 0;

}


}













/* ============================================
	                Animations 
   ============================================
*/

.animate-text {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.animate-text.delay {
  animation-delay: 0.5s;
}

.animate-text.delay2 {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  0% {opacity: 0; transform: translateY(20px);}
  100% {opacity: 1; transform: translateY(0);}
}

.animate-feature {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}

.animate-feature.delay {
  animation-delay: 0.3s;
}

.animate-feature.delay2 {
  animation-delay: 0.6s;
}